try-import ../.bazelrc.local

# Use the ARM64 platform by default.
build --platforms=//toolchain_arm64_gcc

# Enable CC toolchain resolution.
build --incompatible_enable_cc_toolchain_resolution

# Enable Bzlmod for every Bazel command
common --enable_bzlmod
